<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/240x320/?<%= @list.name %>;)">
  <div class="container d-flex flex-column align-items-center">
    <h1>
      <%= @list.name %>
    </h1>
  </div>
</div>

<div class="movies-grid">
    <% @list.movies.each do |movie| %>
      <div class="card-movie">
        <img src="<%= movie.poster_url %>" alt="">
        <div class="card-movie-info">
          <h1><%= movie.title %></h1>
          <h3><%= movie.overview %></h3>
          <p><%= movie.rating %></p>
          <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
          <p>"<em><%= bookmark.comment %></em>"</p>
        </div>
     </div>
    <% end %>
</div>

<%= link_to 'Back', root_path %>
<button type="button" class="btn btn-danger"><%= link_to "Delete",
              list_path(@list),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
  </button>

<%= link_to "Add movie", new_list_bookmark_path(@list) %>
